# Nx

NX_SKIP_NX_CACHE=true

# Tucu UI

VITE_APP_DEMO_URL=https://ui.estebanburgos.com.ar

# Apps

VITE_APP_DEMO_URL=https://ui.estebanburgos.com.ar
VITE_APP_NPM_PACKAGE_URL=https://www.npmjs.com/package/@e-burgos/tucu-ui
