# Nx

NX_SKIP_NX_CACHE=true

# Tucu UI

VITE_APP_DEMO_URL=https://tucu-ui.netlify.app

# Apps

VITE_APP_DEMO_URL=https://tucu-ui.netlify.app
VITE_APP_NPM_PACKAGE_URL=https://www.npmjs.com/package/@e-burgos/tucu-ui
