/**
 * Background Utilities
 * Background Attachment, Background Clip, Background Origin, Background Position, Background Repeat, Background Size, Background Image
 */

@layer utilities {
  /* Background attachment utilities */
  .bg-fixed {
    background-attachment: fixed;
  }
  .bg-local {
    background-attachment: local;
  }
  .bg-scroll {
    background-attachment: scroll;
  }

  /* Background clip utilities */
  .bg-clip-border {
    background-clip: border-box;
  }
  .bg-clip-padding {
    background-clip: padding-box;
  }
  .bg-clip-content {
    background-clip: content-box;
  }
  .bg-clip-text {
    background-clip: text;
  }

  /* Background origin utilities */
  .bg-origin-border {
    background-origin: border-box;
  }
  .bg-origin-padding {
    background-origin: padding-box;
  }
  .bg-origin-content {
    background-origin: content-box;
  }

  /* Background position utilities */
  .bg-bottom {
    background-position: bottom;
  }
  .bg-center {
    background-position: center;
  }
  .bg-left {
    background-position: left;
  }
  .bg-left-bottom {
    background-position: left bottom;
  }
  .bg-left-top {
    background-position: left top;
  }
  .bg-right {
    background-position: right;
  }
  .bg-right-bottom {
    background-position: right bottom;
  }
  .bg-right-top {
    background-position: right top;
  }
  .bg-top {
    background-position: top;
  }

  /* Background repeat utilities */
  .bg-repeat {
    background-repeat: repeat;
  }
  .bg-no-repeat {
    background-repeat: no-repeat;
  }
  .bg-repeat-x {
    background-repeat: repeat-x;
  }
  .bg-repeat-y {
    background-repeat: repeat-y;
  }
  .bg-repeat-round {
    background-repeat: round;
  }
  .bg-repeat-space {
    background-repeat: space;
  }

  /* Background size utilities */
  .bg-auto {
    background-size: auto;
  }
  .bg-cover {
    background-size: cover;
  }
  .bg-contain {
    background-size: contain;
  }

  /* Background image utilities */
  .bg-none {
    background-image: none;
  }
}
