/**
 * Layout Utilities
 * Aspect Ratio, Display, Float, Clear, Isolation, Object Fit, Object Position, Overflow
 */

@layer utilities {
  /* Aspect Ratio */
  .aspect-auto {
    aspect-ratio: auto;
  }
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
  .aspect-video {
    aspect-ratio: 16 / 9;
  }

  /* Float */
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .float-none {
    float: none;
  }

  /* Clear */
  .clear-left {
    clear: left;
  }
  .clear-right {
    clear: right;
  }
  .clear-both {
    clear: both;
  }
  .clear-none {
    clear: none;
  }

  /* Object Fit */
  .object-contain {
    object-fit: contain;
  }
  .object-cover {
    object-fit: cover;
  }
  .object-fill {
    object-fit: fill;
  }
  .object-none {
    object-fit: none;
  }
  .object-scale-down {
    object-fit: scale-down;
  }

  /* Object Position */
  .object-bottom {
    object-position: bottom;
  }
  .object-center {
    object-position: center;
  }
  .object-left {
    object-position: left;
  }
  .object-left-bottom {
    object-position: left bottom;
  }
  .object-left-top {
    object-position: left top;
  }
  .object-right {
    object-position: right;
  }
  .object-right-bottom {
    object-position: right bottom;
  }
  .object-right-top {
    object-position: right top;
  }
  .object-top {
    object-position: top;
  }
}
