NODE_ENV=development
VITE_APP_ENVIRONMENT=local
VITE_APP_VERSION=$npm_package_version
VITE_APP_NAME=$npm_package_name

VITE_APP_PORT=3000 

# API Configuration
VITE_API_BASE_URL=https://api.example.com/api
VITE_WEBSOCKET_URL='https://api.example.com/ws'

# Emails
VITE_APP_SUPPORT_EMAIL=estebanburgos85@gmail.com

# Google Analytics
VITE_GOOGLE_ANALYTICS_TAG_ID=